@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

$fontColor: darkgoldenrod;

h1,
h2{
    color: $fontColor;
}

#app{
    margin-top: 0px;
    overflow: hidden;
}
#introTop{
    background-image: url("~@/assets/img/mapFigure.jpg");
    width: 100%;
    //height: 500px;
}
#bottom{
    width: 100%;
    #navSide{
        width: 20%;
        float:left;
        top: 35%;
        position: fixed;
    }
    #content{
        width: 80%;
        height: inherit;
        float:right;
        background-color: gold;
        #mapSZ{
            width: 50%;
            float: left;
            height: inherit;
            border: 1px black solid;
            #mapCon{
                position: relative;
                top: 10%;
                left: 10%;
            }
            #location{
                position: relative;
                bottom: -70px;
                color: black;
                z-index: 1;
            }
        }
    }
}
